NEXT_PUBLIC_STRIPE_PUBLIC_KEY=
STRIPE_SECRET_KEY=

NEXT_PUBLIC_STRIPE_SINGLE_DRIVER_PRICE_MONTHLY=
NEXT_PUBLIC_STRIPE_SINGLE_DRIVER_PRICE_YEARLY=
NEXT_PUBLIC_STRIPE_PEOPLE_COMPANY_PRICE_MONTHLY=
NEXT_PUBLIC_STRIPE_PEOPLE_COMPANY_PRICE_YEARLY=
